<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<!-- Bootstrap  jQuery Bootstrapの読み込み必要がある-->
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<!--　jQueryのjsファイル タイムリーフでファイル読み込み　 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--　Bootstrap のjsファイル（jQueryの後に読み込む） タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

<script src="js/SocialShare.min.js"></script>

<link th:href="@{/css/jpegIsbnDetail.css}" rel="stylesheet"></link>
<link th:href="@{/css/isbnDetail.css}" rel="stylesheet"></link>


<title>isbnDetail</title>
</head>
<body class="jpeg"
	background="/css/11aef8be31238f2981ee85a894cba60e_t (1).jpeg">

	<table>
		<h2 class="h2 text-center">ISBNコードとは？</h2>
		<h4 class="h4">
			ISBNコードは書籍のバーコード付近に記載されている13桁の数字です。<br>このISBN書籍検索アプリのフォームにISBNコードを入力するとその書籍の詳細が表示されます。
		</h4>
	</table>

	<img class="imgStyle" th:src="@{img/isbnkode.jpg}">
	<img class="imgStyleTwo" th:src="@{img/isbnkodeTwo.png}">
	<img class="imgStyleThree" th:src="@{img/isbnkodeThree.png}">

	<br>
	<br>
	<form method="post" th:action="@{/isbnSearchHome}">
	<br>
	<div class="text-center">
		<button class="btn btn-gradient" type="submit" name="home">
			<span style="font-size: 25px;">ホーム画面へ</span>
		</button>
	</div>
	</form>

</body>
</html>